/* Place CSS styles here */
/* this class is needed to visually hide text from sighted users */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

body {
  background-color: lightgray;
}

/* HEADER */
.hippocampus-header-wrapper,
.hippocampus-main-content-wrapper,
.hippocampus-footer-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.hippocampus-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hippocampus-logo {
  width: 130px;
}

.hippocampus-main-nav {
  display: flex;
  gap: 16px;
}

.hippocampus-main-nav a {
  text-decoration: none;
  color: #e20df0;
  transition: all ease .25s;
}

.hippocampus-main-nav a:hover {
  color: black;
}

.hippocampus-social-link-image {
  width: 32px;
}

